# @author: Emilie Zhang for url redirection

# <Directory "/home/.../public_html">
#     AllowOverride All
#     Require all granted
# </Directory>

# Enable the Rewrite Engine
RewriteEngine On

# Route URLs to bookingurl.php
RewriteRule ^booking/([a-zA-Z0-9_\-]+)$ bookingurl.php?url=$1 [L,QSA]

# Route URLs to reservationurl.php
RewriteRule ^reservation/([a-zA-Z0-9_\-]+)$ reservationurl.php?url=$1 [L,QSA]

<LimitExcept GET POST DELETE>
    Require all granted
</LimitExcept>